
  .container{
      text-align: center;
      margin-top:50px ;
      margin-left: 450px;
      border: 2px solid rgb(196, 219, 227);
      border-radius:15px;
      background-color: rgb(196, 219, 227);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;


      position: absolute;
      width: 400px;
      height: 550px;
      
  }
  .space{
      margin-top:10px;
      margin-bottom: 10px;
  }
  .g{
      margin-right:20px ;
  }
  #input{
      height: 50px;
      width: 160px;
  }
  #button
  {
      text-align: center;
      width: 100px;
      height: 20px;
      background-color: rgb(196, 219, 227);
      margin-top: 10px;
      margin-bottom:20px ;
      border-radius:5px ;
      border:2px solid black;
      
  }
.error{
    text-align: center;
    color: red;
 
}
#b{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 100;

}

#b{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    
}